/* CSS FILE */
*{
    /* * - Universal selector */
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* setting default css properties */
    box-sizing: border-box; /* remove extra size*/
}
body{
    background-color: aliceblue;
}
.container{
    background-color: #fff;
    margin: auto;
    width: 95%;
    max-width: 380px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #808080;
    margin-top: 40px;
}
.container input,  .signin{
    display: block;
    padding: 12px;
    border-radius: 5px;
    outline: 0;
    border:1px solid gray;
    width: 100%;
}
.signin, .signup{
    background-color: rgb(19, 202, 19);
    border:0px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 700;
    color:#fff;
}
.container button:hover{
    opacity: .8;
}
.signup{
    padding: 12px;
    border-radius: 6px;
}
.user_icon{
    text-align: center;
    margin-top: -40px;
}
.user_icon i{
    background-color: #fff;
    padding: 12px;
    font-size: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #808080;
    color: rgb(19, 202, 19);
}