/* css file */
/* MObile view phones and tablets */
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
   background-color: aliceblue; 
}
header{
    background-color: rgb(13, 14, 14);
}
header div{
    width:20px;
    height: 20px;
    margin: 3px;
    display: inline-block;
    border-radius: 50%;
}
.red{background-color: red;}
.blue{background-color: blue;}
.orange{background-color: orange;}
/*  */
.container div{
    background-color: #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #000;
    width: 100%;
    height: 350px;
}
.container div:hover{
    transform: scale(1.02);
}
.container{
    display: block;
    padding: 22px;
}
ul{list-style-type: none;}
@media screen and (min-width:765px) {
    /*desktop display  */
    .container{
        display: flex;
    }
}