/* remove def margin and padding set box-sizing */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* style the table using the table tag */
table{
    width:100%;
    background-color: #808080;
    text-align: left;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
}
/* style the data in the table  td and th*/
td,th{
    padding:12px;
    border:0px;
}
/* add zebra strips using nth-child selector */
tr:nth-child(even){
    background-color: #809080;
}
/* add hover to the rows  tr*/
tr:hover{
    background-color: #909090;
    /* change cursor  to pointer */
    cursor: pointer;
    /* makes the text bigger */
    font-weight: 700;
}
