*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    background-color: orange;
    color: aliceblue;
}
.text{
    /* background-color:orange; */
    border:20px solid orange;
    padding: 40px;
}